.header {
  position: relative;
  display: flex;
}

.email {
  position: absolute;
  right: 0;
  bottom: 30px;
}

.email a {
  display: flex;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

.email p {
  margin: 0;
  padding: 0 30px 3px 0;
}

.badges {
  position: absolute;
  bottom: 0;
  right: 0;
}

.badges a {
  padding: 0 0 0 5px;
}
